<h2>My Players</h2>
<table class="players">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Level</th>
  </tr>
  <tr class="player" *ngFor="let player of players" (click)="onSelect(player)" [class.selected]="player === selectedPlayer">
    <td class="id">
        {{player.id}}
    </td>
    <td class="name">
        {{player.name}}
    </td>
    <td class="level">
        {{player.level}}
    </td>
  </tr>
</table>
<div *ngIf="selectedPlayer">
  <h2>{{selectedPlayer.name}} details!</h2>
  <div><label>id: </label>{{selectedPlayer.id}}</div>
  <div>
      <label>name: </label>
      <input [(ngModel)]="selectedPlayer.name" placeholder="name"/>
  </div>
  <div><label>id: </label>{{selectedPlayer.level}}</div>
</div>


